<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.god.kahit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.categoryClass"></activity>
        <activity
            android:name=".view.LotteryClass"
            android:exported="true" />
        <activity android:name=".view.MainActivityClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ChooseGameClass"
            android:parentActivityName=".view.MainActivityClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
        <activity
            android:name=".view.HostCreateRoomClass"
            android:parentActivityName=".view.ChooseGameClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.HostCreateRoomClass" />
        </activity>
        <activity
            android:name=".view.HotSwapAddPlayersClass"
            android:parentActivityName=".view.HotSwapGameModeClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.HotSwapGameModeClass" />
        </activity>
        <activity
            android:name=".view.HotSwapGameModeClass"
            android:parentActivityName=".view.ChooseGameClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
        <activity
            android:name=".view.JoinRoomClass"
            android:parentActivityName=".view.ChooseGameClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.HostCreateRoomClass" />
        </activity>
        <activity
            android:name=".view.QuestionClass"
            android:parentActivityName=".view.MainActivityClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
        <activity
            android:name=".view.ScorePageClass"
            android:parentActivityName=".view.MainActivityClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
        <activity
            android:name=".view.TeamArrangementClass"
            android:parentActivityName=".view.MainActivityClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
        <activity android:name=".view.StoreControllerClass"></activity>
        <activity
            android:name=".view.Sidenav_store"
            android:parentActivityName=".view.MainActivityClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.god.kahit.view.ChooseGameClass" />
        </activity>
    </application>

</manifest>